/* Шрифты */
@font-face {
    font-family: 'Minecraftia';
    src: url(/Fonts/Minecraftia-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'DS-TERM'; 
    src: url(/Fonts/DS-TERM.TTF) format('truetype');
}

/* Цвет body */
body {
    background-color: #282828;
}

#welcome {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    width: 100%;
    text-align: center;
}

/* Текст приветсвия + Шрифт */
#welcome p {
    font-family: DS-TERM;
    font-size: 15vh ;
    color: #d69920;
    margin: auto;
/* Шрифт сыллок */
}
.groups p {
    font-family: Minecraftia;
    color: #eddbb2;
}
/* Удаление подчеркивания */
a {
    text-decoration: none;
}

.container {
    height: 56vh;
    width: 60vw;
    margin: auto;
    margin-top: 3%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    align-content: center;
}

/* Grid */
.groups {
    display: grid;
    width: 30vw;
    grid-template-rows: 16vh 16vh 16vh;
    grid-template-columns: 15vw 15vw; 
}

.link p {
    line-height: 0.7em;
}

.groups li {
    list-style: none;
}


/* MultiOpens */

/* MultiOpen-Dev */
#multiDev {
    /* margin: auto; */
    display: block;
    border: none;
    height: 15vh;
    width: 15vh;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.35);
    background-color: #1b1b1b;
    color: #eddbb2;
}
.title {
    margin-top: 0px;
}
/* Настройки цветов */

/* Настройка группы Dev */
#devGroup-title {
    color: #458588;
    font-size: 25px;
    line-height: 0.5em;
}

.group-dev p:hover {
    color: #458588;
    transition: 0.2s;
}

.group-dev a p::before {
    color: #458588;
    word-spacing: 0.3rem;
    content: "> ";
}

.group-dev {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
}

/* Настройка группы Dis*/
#disGroup-title {
    color: #b06186;
    font-size: 25px;
    line-height: 0.5em;
}

.group-dis p:hover {
    color: #b06186;
    transition: 0.2s;
}

.group-dis a p::before {
    color: #b06186;
    word-spacing: 0.3rem;
    content: "> ";
}

.group-dis {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
}

/* Настройка группы Misc*/
#miscGroup-title {
    color: #989719;
    font-size: 25px;
    line-height: 0.5em;
}

.group-misc p:hover {
    color: #989719;
    transition: 0.2s;
}

.group-misc a p::before {
    color: #989719;
    word-spacing: 0.3rem;
    content: "> ";
}

.group-misc {
    grid-row: 3 / 3;
    grid-column: 1 / 1;
}

/* Настройка группы Media*/
#mediaGroup-title {
    color: #cb231c;
    font-size: 25px;
    line-height: 0.5em;
}

.group-media p:hover {
    color: #cb231c;
    transition: 0.2s;
}

.group-media a p::before {
    color: #cb231c;
    word-spacing: 0.3rem;
    content: "> ";
}

.group-media {
    grid-row: 1 / 1;
    grid-column: 2 / 2;
}

/* Настройка группы Linux*/
#linuxGroup-title {
    color: #fe7f18;
    font-size: 25px;
    line-height: 0.5em;
}

.group-linux p:hover {
    color: #fe7f18;
    transition: 0.2s;
}

.group-linux a p::before {
    color: #fe7f18;
    word-spacing: 0.3rem;
    content: "> ";
}

.group-linux {
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}



 /* example group  */

 /* #MediaGroup-title {
    color: #fe7f18; --Title color
    font-size: 25px;
    line-height: 0.5em;
}

.group-media p:hover {
    color: #fe7f18; --Hover color
    transition: 0.2s;
}

.group-media a p::before {
    color: #fe7f18; - The ">" color
    word-spacing: 0.3rem;
    content: "> ";
} */